Source: ros-hydro-jaco-demo
Section: misc
Priority: extra
Maintainer: Ilia Baranov (Clearpath) <ibaranov@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-jaco-driver, ros-hydro-jaco-msgs, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-jaco-demo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-jaco-driver, ros-hydro-jaco-msgs, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-std-msgs
Description: The jaco_demo package
